*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:white;
}
.stopwatch{
    
    
    
    background: #222;
    border-radius: 20px;
    
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
h1{
    
    margin-bottom: 20px;
    color:red;
}
#display{

    
    font-size: 45px;
    color: black;
    margin-bottom: 30px;
    letter-spacing: 2px;

}
button{
    
    
    padding: 12px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    font-size: 16px;

    cursor:pointer;;
}
.start{
    
    background: blue;
    color: #fff;
}
.pause{
    
    background: orange;
    color: #fff;
}
.lap{
    
    background: green;
    color: #fff;
}
button:hover{
    opacity: 0.8;
}
#laps{
    color:white;
    margin-top: 20px;
    max-height: 150px;
    overflow: auto;

}
#laps p{
    padding: 5px;
    border-bottom: 1px solid #555;
}